// COLORS
$primary-color: #ea6721;
$secondary-color: #f59561;

$white-color: #fff;

$dark-grey: #0b2e54;
$light-grey: #fff;

$dark-blue-text: #0b2e54; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;